{% extends './base.html' %}
{% load tz static %}
{% block extra_head %}
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
{% endblock extra_head %}

{% block content %}

<style>
    .row-striped:nth-of-type(odd){
        background-color: #efefef;
        border-left: 4px #000000 solid;
      }
      
      .row-striped:nth-of-type(even){
        background-color: #ffffff;
        border-left: 4px #efefef solid;
      }
      
      .row-striped {
          padding: 15px 0;
      }
</style>

<div class="container py-4">
    <div class="my-5">
        <h1> This Week's Schedule </h1>
    </div>


    <div class="row row-striped my-5">
        <div class="col-2 text-right">
            <h1 class="display-4"><span class="badge badge-secondary">23</span></h1>
            <h2>{% now "M" %}</h2>
        </div>

        <div class="col-10">
            <h3 class="text-uppercase"><strong>Ice Cream Social</strong></h3>
            <ul class="list-inline">
                <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday</li>
                <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 12:30 PM - 2:00 PM</li>
                <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Cafe</li>
            </ul>
            <p>Lorem ipsum dolsit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>

</div>
{% endblock content %}